.maintain {
  width: 100%;
  height: 100%;

  #navHeader {
    height: 80px;

    .ivu-menu>li {
      padding: 0;
      color: #ffffff;
    }
  }

  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
  }
}
